// Navigation Styles here

.navigation {
	border-bottom: 2px dashed @navigation-border;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	nav {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		a {
			color: @font-color;
			text-decoration: none;
			font-size: 1.6rem;
		}
	}
}
